@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway');

/*
 * Dark Theme
 */

body{
	background: #222;
	color: #f4f4f4;
}

/*
 * Blue Theme
 */

body{
	background: #224;
	color: #f4f4f4;
}

/*
 * Red Theme
 */

body{
	background: #422;
	color: #f4f4f4;
}

/*
 * Night Theme
 */

body{
	background: #211;
	color: rgba(220,220,220,.9);
}
img{
	opacity: .7
}
a{
	color: rgba(100,100,180,.9);
}



h1, h2, h3, h4, h5, h6 {
	text-align: center;
    font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.4em;
}
h6 {
	font-size: 1.2em;
}
.page {
	font-size: 2vmin;
	width: 62%;
	max-width: 1200px;
	margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
img{
	max-width: 100%;
}
@media ( max-width: 599px){
	.page {
		width: 96%;
	}
}
@media ( max-width: 1199px){
	.page {
		width: 516px + 14%;
	}
}
